app/cache/*
app/logs/*
app/*.cache
app/config/parameters.yml
app/config/production_parameters.yml
app/config/validation_parameters.yml
bin/
build/
nbproject/
web/bundles/*
web/css/*
web/js/*
web/uploads/*
web/sitemap*.xml
vendor/
composer.phar
*.php~
.DS_Store