<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Victor Hugo Valle Website{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block content %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>