parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_name:
    database_user:
    database_password:

    mailer_transport:   smtp
    mailer_host:        smtp.gmail.com
    mailer_encryption:  ssl
    mailer_port:        465
    mailer_user:        
    mailer_password:    

    locale:             en

    secret:             ThisTokenIsNotSoSecretChangeIt

    # Sonata Admin Options
    sonata_admin.title:             Victor Hugo
    sonata_admin.logo_title:        /bundles/website/images/icons/favicon.png

    # Sonata News Options
    sonata_news.blog_title:         Victor Hugo Valle Website Blog
    sonata_news.blog_link:          http://victorhugo.com.ar
    sonata_news.blog_description:   Victor Hugo Valle Website Blog 2013
    sonata_news.salt:               ThisTokenIsNotSoSecretChangeIt
    sonata_news.comment.emails:     [webmater@victorhugo.com.ar]
    sonata_news.comment.email_from: no-reply@victorhugo.com.ar

    # Sonata Media options
    sonata_media.cdn.host:          /uploads/media

    # Sonata User Options
    sonata_user.google_authenticator.server:  victorhugo.com.ar