<div class="row">

	<div class="span2 bs-docs-sidebar">
		<ul class="nav nav-list bs-docs-sidenav"></ul>
	</div>
	
	<div class="span9">
		<section id="city-form">
			<p class="lead">
				{% trans %}For those who don't know me yet or have never heard about me, I am going to drop some lines about me and clarify the biography that some friends of mine had written in the past on some social networking sites. I was born on 16th November 1988 in San Ignacio province department of Cajamarca - Peru.{% endtrans %}
			</p>

			<p class="lead">
				{% trans %}From the tender age of five, I've expressed certain interest in doing relevant things. I remember I used to dressed as soldier, and then I had ambitions of being a hunted pilot at the air force. After the primary school I loved to go out by motorbike, some friends of mine and I used to do it. It was a phase on it which we used to share really cool moments. I used to go out on a 250 Honda Motorbike in which I did my rides around the city and surroundings.{% endtrans %}
			</p>

			<p class="lead">
				{% trans %}From my childhood up to the last year of my secondary school, I was a member of the church choir in my hometown, where some friends and I used to enjoy very good moments.{% endtrans %}
			</p>

			<p class="lead">
				{% trans %}I joined the school science club when I was in the second year in secondary, at that moment my aunty Lucy was my teacher of chemistry and the laboratory boss. Though nowadays she is still the person in charge of the laboratory. I remember I liked doing my science homeworks, then I liked going the laboratory more often.{% endtrans %}
			</p>

			<p class="lead">
				{% trans %}If there is something interesting, it's at that moment I did have skills about web designing. That's because I had finished an office course previously. After that, I did a summer course of web designing, where I worked with FrontPage and CSS for first time. It was something new for me, at that moment I was just 12.{% endtrans %}
			</p>

			<p class="lead">
				{% trans %}Little by little I got more involved with the world of computing. As self-taught I learned to do some of my first works in swishmax, and flash. I remember a friend of mine had done an encyclopedia about the city and its wealths, the same that won an scholarship, and it kept being developed sponsored. This event aroused in me cravings to keep going on exploring the information technology world, and the software development.{% endtrans %}
			</p>

			<p class="lead">
				{% trans %}At finishing my secondary school I had two passions, these were science and technology. For a family affair, I moved to Buenos Aires, and the trip that began as a summer holiday, shortly thereafter it would take me to meet a great city, the same that would become in the place of my new home.{% endtrans %}
			</p>

			<p class="lead">
				{% trans %}I began my university degree at the UBA. I was studying medicine at the begining, it was really hard because I worked and studied at once. Though medicine is a beautiful degree, it requires several hours of studying. I didn't want to quit working because I've always been independent, so I kept on with my second passion.{% endtrans %}
			</p>

			<p class="lead">
				{% trans %}The information technology world is not easy like some people think, but if you really like it, you could create the greatest things that you had never guessed.{% endtrans %}
			</p>

			<p class="lead">
				{% trans %}At present, I am a member of the Information Technology Group at{% endtrans %}
				<a href="http://www.harrenmedia.com" target="_blank"><strong>Harrenmedia Network.</strong></a>
			</p>
		</section>
	</div>
</div>